label {
  color: white; 
  font-family: Verdana; 
  font-size: 18px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 30%;
  height: 25px;
  border-radius: 5px;
  background: lightgray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: orange;
  cursor: pointer;
}

canvas {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

#selector {
    color: black;
    text-overflow: ellipsis;
    padding: 16px;
    font-size: 16px;
}

#applier {
    color: black;
    text-overflow: ellipsis;
    padding: 16px;
    font-size: 16px;
}

.dropbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 10px;
  }

  .dropbtn:hover {
    background-color: orangered;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: red;}